name: Build
on:
  workflow_dispatch:
    inputs:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
jobs:
  build:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ 3.6, 3.7, 3.8, 3.9 ]
    steps:
      - uses: actions/checkout@v2
      - name: Fetch complete history for all tags and branches
        run: git fetch --prune --unshallow
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup pip
        run: python -m pip install --upgrade pip setuptools wheel
      - name: Install Colorpedia
        run: pip install .[dev]
      - name: Run black
        run: black --check .
      - name: Run flake8
        run: flake8 .
      - name: Run isort
        run: isort --check --profile=black .
      - name: Run mypy
        run: mypy .
      - name: Run pytest
        run: py.test --cov=./ --cov-report=xml
      - name: Run color
        run: |
          color version
          color version --json
          color config init
          color config show
          color name white
          color hex FFFFFF
          color rgb 255 255 255
          color hsl 0 0 100
          color hsv 0 0 100
          color cmyk 0 0 0 0
          color palette molokai
          color name white --all
          color hex FFFFFF --all
          color rgb 255 255 255 --all
          color hsl 0 0 100 --all
          color hsv 0 0 100 --all
          color cmyk 0 0 0 0 --all
          color palette molokai --all
          color name white --nounits
          color hex FFFFFF --nounits
          color rgb 255 255 255 --nounits
          color hsl 0 0 100 --nounits
          color hsv 0 0 100 --nounits
          color cmyk 0 0 0 0 --nounits
          color palette molokai --nounits
          color name white --json
          color hex FFFFFF --json
          color rgb 255 255 255 --json
          color hsl 0 0 100 --json
          color hsv 0 0 100 --json
          color cmyk 0 0 0 0 --json
          color palette molokai --json
          color name white --shades
          color hex FFFFFF --shades
          color rgb 255 255 255 --shades
          color hsl 0 0 100 --shades
          color hsv 0 0 100 --shades
          color cmyk 0 0 0 0 --shades
      - name: Upload coverge to Codecov
        uses: codecov/codecov-action@v1
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
